<div class="row writtenAboutMe">
    <div class="writtenAbout">
        <h3>關於我</h3>
        <p id="writtenAboutMe">
            @Model.About
        </p>
    </div>
    <div class="writtenLocationArea">
        <img src="~/dist/img/memberInfo/home.svg" alt="writtenLocation">
        <span id="writtenLocation">@Model.Location</span>
    </div>
    <div class="writtenWorkArea">
        <img src="~/dist/img/memberInfo/bag.svg" alt="writtenWork">
        <span id="writtenWork">@Model.WorkTime</span>
    </div>
</div>
