<div class="mb-3">
    <label for="meTextarea" class="form-label">關於我</label>
    <textarea class="form-control" id="meTextarea" rows="4"></textarea>
</div>
<div class="mb-3">
    <label for="mdLocationInput" class="form-label">位置</label>
    <input type="text" class="form-control" id="mdLocationInput">
</div>
<div class="mb-3">
    <label for="mdWorkInput" class="form-label">工作單位</label>
    <input type="text" class="form-control" id="mdWorkInput">
</div>
<div class="cancelOrSave">
    <div class="btn cancelBtn" data-bs-toggle="collapse" data-bs-target="#aboutCollapse">取消</div>
    <div class="btn btn-dark saveBtn">儲存</div>
</div>