<div class="row writtenAboutMe">
    <div class="writtenAbout">
        <h3>關於我</h3>
        <p>
            @Model.About
        </p>
    </div>
    <div class="writtenLocation">
        <img src="~/dist/img/memberInfo/home.svg" alt="writtenLocation">
        <span>@Model.Location</span>
    </div>
    <div class="writtenWork">
        <img src="~/dist/img/memberInfo/bag.svg" alt="writtenWork">
        <span>@@model.worktime//todo</span>
    </div>
</div>
