@model Airelax.Application.Houses.Dtos.Response.TripViewModels

@{
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<div class="container"> 
    <div class="title my-3">
        <h2 class="fw-bold">旅程</h2>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tr_start" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">
                即將開始
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tr_past" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                    aria-controls="profile" aria-selected="false">
                過往旅程
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="tr_start">
            <div id="start">
                <div class="more_">
                    當你準備計劃下一趟旅程時，我們會隨時提供協助。
                    <a href="#">了解詳情</a>
                </div>
                <div>
                    <img src="~/images/trip/img/travel.png" alt="" class="w-100">
                </div>
                <div>
                    <a class="btn btn-dark fw-bold explore" href="#" role="button">探索Airelax</a>
                </div>
                <hr>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="tr_past">
            <div id="past">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="col">
                        <a href="#">
                            <div class="card h-100">
                                <img src="https://picsum.photos/200/80" class="card-img-top" alt="">
                                <div class="card-body">
                                    <p class="card-text" id="date">2019年2月26日 – 2019年2月27日</p>
                                    <h5 class="card-title" id="place">信義區</h5>
                                </div>
                                <div class="introduce">
                                    <img src="https://picsum.photos/40/40" alt="">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text" id="roomName">信義區小小套房</p>
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                </div>
                                <div class="plan">
                                    顯示更多旅程計畫
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <hr class="mt-5">
            </div>
        </div>
        <div class="help_c">
            在這裡找不到預訂？
            <a href="#">前往說明中心。</a>
        </div>
    </div>
</div>

@section topCSS{
    <link href="~/css/trip/SCSS/trips.css" rel="stylesheet" />
 }

