@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <img src="~/pic/404.png" alt="" class="w-100 pic">
    <img src="~/pic/404-1.png" alt="" class="w-100 pic_ph">
    <p class="text-center">
        The Page you are looking for doesn't exist or another error occurred.
        Go back, or head over to <a href="#">Airelax.com</a> to choose a new direction.
    </p>
</div>

@section topCSS{

}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
}
